.Top_Cont{
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Btt{
    border:3px solid black;
    padding: 2px;
    background-color: beige;
    
}
.dyanmic_css{
    border:3px solid purple;
    height: 100vh;
}